<div class="brand">
    <div class="brand-icon">
        <i class="fa-solid fa-boxes-stacked"></i>
    </div>

    <div class="brand-text">
        <h2>StockOne</h2>
        <span>Inventory System</span>
    </div>
</div>

<nav class="menu">
    <a href="dashboard.html" data-page="dashboard">
        <i class="fa-solid fa-chart-line"></i> Dashboard
    </a>

    <a href="catalogo.html" data-page="catalogo">
        <i class="fa-solid fa-book"></i> Catálogo
    </a>

    <a href="inventario.html" data-page="inventario">
        <i class="fa-solid fa-warehouse"></i> Inventario
    </a>

    <a href="ventas.html" data-page="ventas">
        <i class="fa-solid fa-cart-shopping"></i> Ventas
    </a>

    <a href="movimientos.html" data-page="movimientos">
        <i class="fa-solid fa-arrow-right-arrow-left"></i> Movimientos
    </a>

    <a href="configuracion.html" data-page="configuracion">
        <i class="fa-solid fa-gear"></i> Configuración
    </a>

    <a href="index.html">
        <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
    </a>
</nav>